body {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    background: black;
    display: block;
}

#ui {
    position: absolute;
    top: 15px;
    left: 20px;
    color: white;
    font-size: 20px;
}

/* GAME OVER OVERLAY */
#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: red;
    z-index: 10;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}


#gameOverScreen h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

#playAgainBtn {
    padding: 15px 40px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    transition: 0.2s;
}

#playAgainBtn:hover {
    background: red;
    color: white;
}